
/* 
.card:hover .info
{
    height: 200px;
    width: 100%;
    position: relative;
    top: -50%;
} */

@keyframes changePositions 
{
    /* animation: changePositions 0.5s ease-in-out ; */

    from
    {
        opacity: 0;
        transform: translate(0 , 100px);
    }
    to
    {
        opacity: 1;
        transform: translate(0);
    }    
}

